<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar *ngIf="order">
  <ion-segment (ionChange)="showPage($event)" [value]="currentPage">
    <ion-segment-button value="milestones">
      Milestones
    </ion-segment-button>
    <ion-segment-button value="comments">
      Comments
    </ion-segment-button>
    <!-- <ion-segment-button value="activity">
      Activity
    </ion-segment-button> -->
  </ion-segment>
</ion-toolbar>

<ng-container *ngIf="order; else loader">

  <ion-content *ngIf="currentPage === 'milestones'" [fullscreen]="true">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>ID: {{ order.id }}</ion-card-subtitle>
        <ion-card-title>Order Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Created: <ion-note>{{ order.createdDate|date }}</ion-note>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ng-container *ngFor="let ms of order.mileStones">
        <app-milestone [milestone]="ms" [participants]="order.participants" (save)="save()"></app-milestone>
      </ng-container>
    </ion-list>
  </ion-content>

  <ion-content #commentsList *ngIf="currentPage === 'comments'" [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="loadComments($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="comments;else loader">
      <ion-list>
        <ng-container *ngFor="let comment of comments; trackBy:commentsTrackBy">
          <app-comment [comment]="comment" [showDivider]="dividers[comment.id]"></app-comment>
        </ng-container>
      </ion-list>
    </ng-container>
  </ion-content>

  <ion-content *ngIf="currentPage === 'activity'" [fullscreen]="true">
    activity
  </ion-content>
</ng-container>

<ion-footer *ngIf="currentPage === 'milestones' && order && nextMilestone">
  <ion-button class="status-action" expand="block" size="large" fill="solid" [color]="nextStatus.color" (click)="toggleNextStatus()">
   <div>
     {{nextStatus.label}} <br>
     <small>{{nextMilestone.name}}</small>
    </div>
  </ion-button>
</ion-footer>

<ion-footer *ngIf="currentPage === 'comments'">
  <ion-toolbar padding>
    <ion-item>
      <ion-label position="floating">Type your comment...</ion-label>
      <ion-input #commentInput (keydown.enter)="sendComment()"></ion-input>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="sendComment()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ng-template #loader>
  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,0]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-template>