<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      Welcome {{username}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar placeholder="Search..."></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ng-container *ngIf="(orders$ | async) as orders">
      <ng-container *ngFor="let order of orders">
        <app-order-item [order]="order"></app-order-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>